<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
    <body class="d-flex flex-column h-100">
        {% include "./navbar.html" %}
        <main class="flex-shrink-0">
            <div class="container p-5">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="h4">
                            Contact Us
                        </p>
                    </div>
                </div>
            </div>
        </main>
        {% include "./footer.html" %}
    </body>
</html>