<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    {% include "./components/head.html" %}
</head>

    <body>
    {% include "./components/navbar.html" %}
    <main class="flex-shrink-0">
        <div class="container p-5" style="margin-bottom: 200px;">
            <div class="row align-items-center mb-4">
                <div class="col">
                    <div class="d-flex justify-content-between mb-4">
                        <p class="h4">
                            Reviews
                        </p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'djangoapp:add_review' dealer_id %}" class="btn btn-primary">Add a review</a>
                        {% endif %}
                    </div>
                    {% if dealer_reviews %}
                    <div class="mt-4 mb-4 d-flex flex-wrap" style="gap: 10px;">
                        {% for review in dealer_reviews %}
                            <div class="card" style="width: 340px;">
                                <div class="card-header">
                                    <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ review.car_year }}</h6>
                                </div>
                                <blockquote class="blockquote mb-0 card-body">
                                    <p>{{ review.review }}</p>
                                    <footer class="blockquote-footer">
                                        <small class="text-muted">
                                            {{ review.name }}
                                        </small>
                                    </footer>
                                </blockquote>
                                <div class="card-footer {% if review.sentiment == 'positive' %}bg-success bg-gradient-light{% elif review.sentiment == 'negative' %}bg-danger bg-gradient-light{% endif %}">
                                    <small class="{% if review.sentiment == 'neutral' or '' %}text-muted{% else %}text-white{% endif %}">
                                        opinion: {{ review.sentiment }}
                                    </small>
                                    <img class="card-img-right float-right img-thumbnail" src="{{ MEDIA_URL }}/emoji/{{ review.sentiment }}.png" style="height: 29px;" />
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        Nothing to show
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% include "./components/footer.html" %}
    </body>
</html>