<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        {% include "./components/head.html" %}
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        {% include "./components/table.js" %}
    </head>
    <body class="h-100">
        {% include "./components/navbar.html" %}
        <main class="flex-shrink-0">
            <div class="container p-5" style="margin-bottom: 200px;">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="h4 mb-4">
                            Dealers
                        </p>
                        {% if dealers %}
                        <div class="mt-4">
                            {% include "./components/table.html" %}
                        </div>
                        {% else %}
                        <div>
                            Nothing to show
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        {% include "./components/footer.html" %}
    </body>

</html>
