<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% include "./components/head.html" %}
</head>
    <body class="d-flex flex-column h-100">
        {% include "./components/navbar.html" %}
        <main class="flex-shrink-0">
            <div class="container p-5">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="h4">
                            Home
                        </p>
                    </div>
                </div>
            </div>
        </main>
        {% include "./components/footer.html" %}
    </body>

</html>
