<form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
          <label for="car_make">Select your car make-model-year</label>
          <select name="car" id="car" class="custom-select" required>
            {% for car in cars %}
                <option selected value={{car.id}}>{{car.car_make}}-{{car.car_model_name}}-{{ car.car_model_year|date:"Y" }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="purchase">Have you purchased the car from this dealer?</label>
        <input type="checkbox" id="purchase" aria-label="Did you purchase the car?" name="purchase" required>
      </div>
      <div class="form-group">
        <label for="purchase_date">Select your purchase date:</label>
        <input type="text" id="purchase_date" class="date-own form-control" aria-label="What's the date of the purchase?" name="purchase_date" required>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="review">Your review</label>
        <textarea class="form-control" id="review" aria-label="Your review" name="review" minlength="15" rows="12" required></textarea>
      </div>
    </div>
  </div>
  {% if message %}
  <div class="alert alert-warning">
      {{ message }}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary float-right">Post Review</button>
</form>